/* Materialize does not include an sr-only class (unlike Bootstrap) so one was added here */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Used when it is desirable to remove the margin added by some Materialize classes */
.reset-margin-top {
    margin-top: 0;
}

/* Used to space elements */
.default-margin-top {
    margin-top: $defaultMargin;
}

/* Responsive Image Classes */
// Display smaller images depending on the user's viewport width
// Saves the user's bandwidth on viewports where a large image is unecessary
.responsive-image-s {
    display: none;
    // Use the same breakpoints as the Materialize framework
    @include responsiveDisplay(0px, 600px)
}

.responsive-image-m {
    display: none;
    @include responsiveDisplay(601px, 992px)
}

.responsive-image-l {
    display: none;
    @include responsiveDisplay(993px, 1200px)
}

.responsive-image-xl {
    display: none;
    @include responsiveDisplay(1201px, 10000px)
}
/* /Responsive Image Classes */
