/* Materialize does not include an sr-only class (unlike Bootstrap) so one was added here */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Used when it is desirable to remove the margin added by some Materialize classes */
.reset-margin-top {
    margin-top: 0;
}

/* Used to space elements */
.default-margin-top {
    margin-top: $defaultMargin;
}