/* Mixin Vars */
// Match Materialize breakpoints
$medBreakpoint: 601px;
$larBreakpoint: 993px;
$xlBreakpoint: 1201px;
$xxlBreakpoint: 1750px; // Custom, this is not a Materialise breakpoint,

/* Structural */
// $appMinWidth: 320px;

/* Colors */
$offWhite: #fdfdfd;
$themeColor: #ff6302;