/* Mixin Vars */
// Match Materialize breakpoints
$medBreakpoint: 601px;
$larBreakpoint: 999px;
$xlBreakpoint: 1201px;

/* Structural */
// $appMinWidth: 320px;

/* Colors */
$offWhite: #fdfdfd;
$themeColor: #ff6302;