@import "helpers/variables.scss";
@import "helpers/helper-classes.scss";

/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
      
.parallax-container {
    height: 600px !important;
    .parallax {
        img {
            display: inherit !important;
        }
    }
    p {
        margin-top: 10%;
        color: $offWhite;
        font-size: 3.56rem;
    }
}