/* Imports */
/* Mixin Vars */
/* Structural */
/* Colors */
.td-youtube-iframe-container iframe {
  margin: 0 auto;
  display: block; }

/* Media Queries 
--------------------*/
/* This mixin used for most media queries, using responsive design principles of mobile first */
/* Similiar to above mixin. In some cases functionality is easier to implement with max width */
/* Materialize does not include an sr-only class (unlike Bootstrap) so one was added here */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

.reset-margin-top {
  margin-top: 0; }

/* LAYOUT HELPER STYLES, DELETE WHEN NOT NEEDED */
/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.page-footer {
  background-color: #ff6302; }

/* /Sticky Footer */
/* Overwrite Materialize base .container class */
/* Allows the adjustment of the width properties which in my opinion give too much margin */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%; }
  @media (min-width: 601px) {
    .container {
      width: 90%; } }
  @media (min-width: 993px) {
    .container {
      width: 85%; } }

/* Sub-container. Overwrite Materialize styles in order to make use of containers within containers */
.sub-container {
  margin: 0;
  width: 100%; }

nav {
  background-color: #ff6302; }
  nav .nav-wrapper {
    margin-left: 10px; }
    nav .nav-wrapper .brand-logo {
      font-size: 1.7rem; }
      @media (min-width: 601px) {
        nav .nav-wrapper .brand-logo {
          font-size: 2.1rem; } }
    nav .nav-wrapper .side-nav li:nth-child(2) {
      width: 78%; }
    nav .nav-wrapper #nav-close {
      float: right;
      width: 65px;
      margin-top: -6px; }
      nav .nav-wrapper #nav-close a {
        padding: 0 10px; }
        nav .nav-wrapper #nav-close a i {
          line-height: 54px; }
  nav .brand-image {
    height: 40px;
    margin: 6px 0 0 220px; }
    @media (min-width: 601px) {
      nav .brand-image {
        height: 50px;
        margin-left: 260px; } }
    @media (min-width: 993px) {
      nav .brand-image {
        margin-left: 270px; } }
    @media (min-width: 994px) {
      nav .brand-image {
        /* This may seem weird, but it addresses a bug in Materialize where the brand-logo element font-size increases, 1px BEFORE
            the nav switches around to it's 'large' layout 
            In order to stop the image obscuring the text, extra margin had to be applied for the previous mqWidth */
        margin-left: 225px; } }
    @media (min-width: 1201px) {
      nav .brand-image {
        margin-left: 230px; } }

/*

These styles are related to the unique content for the index page 

*/
/* Parallax Styles */
.parallax-container {
  height: 600px !important; }
  .parallax-container .parallax img {
    display: inherit !important; }
  .parallax-container p {
    margin-top: 10%;
    color: #fdfdfd;
    font-size: 3.56rem;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

/* /Parallax Styles */
/* Top Tracks Section */
.ix-top-tracks {
  /* YouTube Styles */
  /* /YouTube Styles */ }
  .ix-top-tracks .row {
    margin-top: 20px; }
    .ix-top-tracks .row p {
      font-weight: 400; }
      @media (min-width: 993px) {
        .ix-top-tracks .row p {
          text-align: left; } }
    .ix-top-tracks .row span {
      display: block; }
      @media (min-width: 993px) {
        .ix-top-tracks .row span {
          text-align: left; } }
  .ix-top-tracks .ix-youtube-iframe-container iframe {
    width: 300px;
    height: 183px;
    /* Gradually adjust the size of the YouTube iframes based on the width of the page */ }
    @media (min-width: 601px) {
      .ix-top-tracks .ix-youtube-iframe-container iframe {
        width: 450px;
        height: 274px; } }
    @media (min-width: 993px) {
      .ix-top-tracks .ix-youtube-iframe-container iframe {
        /* The layout changes to 6 6 columns here, hence the size gets smaller */
        width: 392px;
        height: 221px; } }
    @media (min-width: 1201px) {
      .ix-top-tracks .ix-youtube-iframe-container iframe {
        width: 470px;
        height: 265px; } }
    @media (min-width: 1750px) {
      .ix-top-tracks .ix-youtube-iframe-container iframe {
        width: 659px;
        height: 371px; } }

/* /Top Tracks Section */
/*

These styles are related to the YouTube videos found throughout the app

*/
/* Track Detail YouTube Styles */
.td-youtube-iframe-container {
  /* Remove padding, this allows the video to sit snug with the sides of the page on the smallest viewports.
      Materialize default padding will be inherited from .row and .col on medium and above */ }
  @media (max-width: 600px) {
    .td-youtube-iframe-container {
      padding: 0; } }
  .td-youtube-iframe-container iframe {
    width: 300px;
    height: 183px;
    /* Gradually grow the size of the iframe as the page size increases */ }
    @media (min-width: 601px) {
      .td-youtube-iframe-container iframe {
        width: 450px;
        height: 275px; } }
    @media (min-width: 993px) {
      .td-youtube-iframe-container iframe {
        width: 560px;
        height: 315px; } }

/* /Track Detail YouTube Styles */
/* YouTube Lazy Loading */
.youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer; }

.youtube img {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.7; }

.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px; }

.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff; }

.youtube img,
.youtube .play-button {
  cursor: pointer; }

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute; }

.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); }

.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

/* /YouTube Lazy Loading */

/*# sourceMappingURL=style.css.map */
