/*

These styles are related to the pages for the forms allowing the user to add a track to the database or edit an existing track

*/

.btn-container {
    .btn {
        /* Adjust default padding added by Materialize
            Give some margin between the button text and the button's edges using min-width
            This keeps both the submit and cancel buttons the same size */
        padding: 0 1rem 0 0; // Keep some padding on the right for the sake of the icons
        min-width: 15rem;
        margin-bottom: 15px; // Give some space between the buttons
    }
}