/*

These styles are related to the pages for the forms allowing the user to add a track to the database or edit an existing track

*/

/* Form */
form {
    /* The genre label is unique in that it is for a dropdown element */
    #genre_label {
        top: -26px; // Position the label so it doesm't overlap with the dropdown
    }
    
    /* Target the 'What's this?' helper on the YouTube form input */
    #youtube-whats-this {
        margin-left: 3rem;
        position: relative;
        bottom: 1rem;
        /* Make the span look like a link */
        color: $materializeLinkBlue;
        cursor: pointer;
    }

    /* Form Buttons */
    .btn-container {
        .btn {
            /* Adjust default padding added by Materialize
                Give some margin between the button text and the button's edges using min-width
                This keeps both the submit and cancel buttons the same size */
            padding: 0 1rem 0 0; // Keep some padding on the right for the sake of the icons
            min-width: 15rem;
            margin-bottom: 25px; // Give some space between the buttons
        }
        
        .cancel-insert-btn {
            background-color: red;
        }
    }
    /* /Form Buttons */
}
/* /Form */