/*

These styles are related to the unique content for the index page 

*/

/* Parallax Styles */
.parallax-container {
    height: 600px !important;
    .parallax {
        img {
            display: inherit !important;
        }
    }
    p {
        margin-top: 10%;
        color: $offWhite;
        font-size: 3.56rem;
        background-color: rgba(0,0,0,0.7);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}
/* /Parallax Styles */

/* Top Tracks Section */
.ix-top-tracks {
    p {
        font-weight: 400;
    }
    /* YouTube Styles */
    .ix-youtube-iframe-container {
        iframe {
            width: 300px;
            height: 183px;
            
            /* Gradually adjust the size of the YouTube iframes based on the width of the page */
            @include mqWidth($medBreakpoint) {
                width: 450px;
                height: 274px;
            }
            
            @include mqWidth($larBreakpoint) {
                /* The layout changes to 6 6 columns here, hence the size gets smaller */
                width: 392px;
                height: 221px;
            }
            
            @include mqWidth($xlBreakpoint) {
                width: 470px;
                height: 265px;
            }
            
            @include mqWidth($xxlBreakpoint) {
                width: 659px;
                height: 371px;
            }
        }
    }
    /* /YouTube Styles */
}
/* /Top Tracks Section */