nav {
    .nav-wrapper { //Built in Materialize class 
        margin-left: 10px;
        #nav-close {
            float: right;
            width: 65px;
            margin-top: -6px;
            a {
                padding: 0 10px;
            }
        }
    }
    .brand-image {
        height: 50px;
        margin: 6px 0 0 230px;
    }
}