nav {
    /* Built in Materialize class */
    .nav-wrapper {
        margin-left: 10px;
    }
    /* Built in Materialize class */
    .brand-logo {
        /* Add height to Materialize default declarations for this class */
    }
    .brand-image {
        height: 50px;
        margin: 6px 0 0 230px;
    }
}