/*

Styles relevant to the content within tracks.html

*/

/* Sort and Filter Container */
.sort-filter-container {
    margin-top: $defaultMargin;
    font-size: 1.3rem; // Boosted from Materialize default
    
    .filter-container {
        margin-bottom: $defaultMargin;
        
        label { // The filter select label
            font-size: 0.9rem;
        }
        
        .select-wrapper { // The filter select wrapper
            input {
                /* To make the filter dropdown and sort dropdown have matching font size, a declaration must be made here as well
                    to override the Materialize default */
                font-size: 1.3rem;
                color: $materializeLinkBlue;
            }
        }
    }
    
    .sort-container {
        .material-icons {
            font-size: 18px; // Adjust the default size for the material icons. Lines up with the dropdown text better
        }
    } 
}
/* /Sort and Filter Container */

/* Track Container
    In here is contained the:
    
        rank
        artist
        title
        upvote button
        upvote count
        user who submitted
        date added
        edit button
        delete button
        youtube lazy loading vid
        
    for each track in the database */
.track-container {
    li {
        list-style-type: none;
        
        &:nth-of-type(n + 2) { // Target all but the first track
            margin-top: $defaultMargin; // The first track doesn't need any top margin because it has no track above it
        }
        
        .rank-artist-title {
            font-weight: 500; // Emphasise the <rank>. <artist> - <title>
        }
        
        .btn { // The upvote, edit, and delete buttons
            margin: $defaultMargin 0;
        }
        
        small { // The submitted by <user> and date added text
            display: block;
        }
        
    /* YouTube Lazy Loading
        Style the thumbnail images that appear on tracks.html.
        Make them look like videos when they are in fact images, when clicked on video is loaded.
        This allows the user to see that there is video media present, but saves on bandwidth */
    .youtube { // The wrapper
        background-color: #000;
        margin-bottom: $defaultMargin;
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;
        cursor: pointer;
        
        img { // The image
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.7;
            cursor: pointer;
            position: absolute;
        }
            
        .play-button { // The play button background
            width: 90px;
            height: 60px;
            background-color: #333;
            box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
            z-index: 1;
            opacity: 0.8;
            border-radius: 6px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d( -50%, -50%, 0 );
            
            &:before { // The play button icon
                content: "";
                border-style: solid;
                border-width: 15px 0 15px 26.0px;
                border-color: transparent transparent transparent #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate3d( -50%, -50%, 0 );
            }
        }
            
        iframe { // The actual YouTube video
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
    /* /YouTube Lazy Loading */
    }
}