/*

Styles used within track-detail.html

*/

/* Track Detail YouTube Styles */
.td-youtube-iframe-container {
    /* Remove padding, this allows the video to sit snug with the sides of the page on the smallest viewports.
        Materialize default padding will be inherited from .row and .col on medium and above */
    @include mqMaxWidth($medBreakpoint - 1) { // Use - 1 in order for the media query to stop just as Materialize's medium sizes kick in
        padding: 0;
    }
    
    iframe {
        margin: 0 auto;
        display: block;
        width: 300px;
        height: 183px;
        border: none;
        
        /* Gradually grow the size of the iframe as the page size increases */  
        @include mqWidth($medBreakpoint) {
            width: 450px;
            height: 275px;
        }
        
        @include mqWidth($larBreakpoint) {
            width: 560px;
            height: 315px;
        }
    }
}
/* /Track Detail YouTube Styles */