{% extends 'base.html' %}

{% block content %}
    <h1 class="center-align">About</h1>
    
    <main class="container">
        <div class="center-align">
            <p><strong>DESERTISLAND</strong> was founded as a non-profit company in 2019.</p>
            <p>We are dedicated to providing the best place on the Internet for music lovers.</p>
            <p>Want to get in touch? Email us at <a href="mailto:desertislandapp@gmail.com">desertislandapp@gmail.com</a>.</p>
        </div>
    </main>
{% endblock %}