{% extends 'base.html' %}

{% block content %}
    <main class="container">
            <form action="{{ url_for('insert_genre', track_id = track_id) }}" method="POST" class="col s12"> <!-- The form will call the insert_track function located in app.py -->
                <div class="row">
                    <!-- Add Genre Input Field -->
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix">category</i>
                        
                        <input id="genre" name="genre" type="text" class="validate">
                        
                        <label for="genre">Enter a genre</label>
                    </div>
                    <!-- /Add Genre Input Field -->
                </div>
                
                <!-- Submit Button -->
                <div class="row center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Add Genre
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <!-- /Submit Button -->
            </form>
    </main>
{% endblock %}