{% extends 'base.html' %}

{% block content %}
    <h1 class="center-align">Submit a Track to DesertIsland</h1>

    <main class="container">
        <!-- Form -->
        <form action="{{ url_for('insert_track') }}" method="POST" class="col s12" novalidate>
            <!-- The form will call the insert_track function located in app.py -->
            <div class="row">
                <!-- Track Title -->
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">assignment</i>
                    
                    <input id="track_title" name="track_title" type="text" class="validate" required maxlength="500">
                    
                    <label id="track_title_label" for="track_title" data-error="Please enter the name of the track" data-success="&#10004;">Track Title</label>
                </div>
                <!-- /Track Title -->
                
                <!-- Artist -->
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">brush</i>
                    
                    <input id="artist" name="artist" type="text" class="validate" required maxlength="100">
                    
                    <label id="artist_label" for="artist" data-error="Please enter the name of the artist of the track" data-success="&#10004;">Artist</label>
                </div>
                <!-- /Artist -->
            </div>
                
            <div class="row">
                <!-- YouTube Link -->
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">music_video</i>
                    
                    <input id="youtube_link" name="youtube_link" type="text" class="validate" required maxlength="45">
                    
                    <label id="youtube_link_label" for="youtube_link" data-error="Please enter the url of a YouTube video for the track" data-success="&#10004;">YouTube Link</label>
                </div>
                <!-- /YouTube Link -->
                
                <!-- Year Released -->
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">calendar_today</i>
                    
                    <input id="year" name="year" type="text" class="validate" required pattern="[0-9][0-9][0-9][0-9]" maxlength="4">
                    
                    <label id="year_label" for="year" data-error="Please enter the year the track was first released in the format YYYY (e.g. 1976)" data-success="&#10004;">Year</label>
                </div>
                <!-- /Year Released -->
            </div>
                
            <div class="row">
                <!-- Genre -->
                <div class="input-field col s12 l6">
                    <!-- Icon -->
                    <i class="material-icons prefix">category</i>
                    <!-- /Icon -->
                    
                    <!-- Label -->
                    <label id="genre_label" for="genre" data-error="Please select a genre" data-success="&#10004;">Genre</label>
                    <!-- /Label -->
                    
                    <!-- Genre Select -->
                    <select id="genre" name="genre" class="validate" required>
                        <!-- If the user has just inserted a genre -->
                        {% if inserted_genre %}
                            <!-- This option won't be selectable but serves as a visual clue as to what the user should do
                                If the user has inserted a genre, this option won't be selected 
                                but will be visible on the dropdown as a visual indicator of what the user should do -->
                            <option value="" disabled >Please select:</option> 
                            
                            {% for genre in genres %}
                                <!-- If the genre value being iterated over is not the same as the genre that was inserted -->
                                {% if genre.genre == inserted_genre %}
                                    <!-- Then add the genre the user inserted as an option and have it selected 
                                        Presumably if the user inserts a genre they want to use it as the track's genre -->
                                    <option value="{{ inserted_genre }}" selected>{{ inserted_genre }}</option>
                                    
                                <!-- Else the genre being iterated over is not the genre the user inserted -->
                                {% else %}
                                    <!-- Render the other genres without the selected attribute -->
                                    <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                                {% endif %}
                            {% endfor %}
                            
                        <!-- Else the user is coming to add_track fresh, and hasn't just inserted a genre -->  
                        {% else %}
                            <option value="" disabled selected >Please select:</option> 
                            <!-- Display an option for all the genres in the db -->
                            {% for genre in genres %}
                                <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                            {% endfor %}
                        {% endif %}
                        
                        <option value="add-genre-link">Add a Genre</option>
                    </select>
                    <!-- /Genre Select -->
                </div>
                <!-- /Genre -->
                
                <!-- User -->
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">account_box</i>
                    <input id="user_name" name="user_name" type="text" class="validate" required maxlength="100">
                    <label id="user_name_label" for="user_name" data-error="Please enter your name" data-success="&#10004;">Your Name</label>
                </div>
                <!-- /User -->
            </div>
                
            <!-- Description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                    <textarea id="description" name="description" class="validate materialize-textarea" required maxlength="1000"></textarea>
                    <label id="description_label" for="description" data-error="Please enter why you love this track!" data-success="&#10004;">And why does this track deserve to be here? (max 1,000 characters)</label>
                </div>
            </div>
            <!-- /Description -->
            
            <!-- Button Container -->
            <div class="row btn-container center-align">
                <!-- Submit Button -->
                <div class="col s12 l6">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Add Track
                        <i class="material-icons right">send</i>
                    </button>   
                </div>
                <!-- /Submit Button -->
                
                <!-- Cancel Button -->
                <div class="col s12 l6">
                    <a href="{{ url_for('index') }}">
                        <button class="btn waves-effect waves-light cancel-insert-btn" type="button">
                            Cancel Add Track
                            <i class="material-icons right">close</i>
                        </button>
                    </a>
                </div>
                <!-- /Cancel Button -->
            </div>
            <!-- /Button Container -->
        </form>
    </main>
{% endblock %}

<!-- ADD A GENRE DROPDOWN OPTION REDIRECT SCRIPT -->
<!-- This script is a duplicate of the one found on edit-track.html -->
<!-- Ideally I'd reference the script in both templates from an external .js file -->
<!-- However, since Jinja templating (used with the url_for) will not work in an external .js file I opted for the inline option -->
{% block genre_link_js %}
    <script>
        // Listen for a change on the Genre select box
        $('#genre').change(function() {
            // Grab the current value of the select box
            var selectVal = $('select').val()
            console.log(selectVal)
            // If the select box's value is equal to 'add-genre-link'...
            if (selectVal == 'add-genre-link') {
                // Redirect the user to add-genre.html
                window.location.href = "{{ url_for('add_genre') }}";
            }
        });
        // This functionality would be easier with a click event
        // Unfortunately however, Chrome doesn't work with click events on select options
    </script>
{% endblock %}

{% block form_validation_js %}
    <script src="{{ url_for('static', filename='js/formValidation.js') }}"></script>
{% endblock %}