<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
        <!-- Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">   
        <!-- Custom Stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    
    <body>
        <header>
            <nav>
                <!-- Nav Wrapper -->
                <div class="nav-wrapper">
                    <!-- Logo -->
                    <a href="{{ url_for('index') }}" class="brand-logo">DESERTISLAND</a>
                    <a href="{{ url_for('index') }}" class="brand-logo"><img class="brand-image" src="{{ url_for('static', filename='images/logo.png') }}"></a>
                    <!-- /Logo -->
                    
                    <!-- Nav Links -->
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('sort_tracks_upvote_desc', decade_filter = 'all') }}">Charts</a></li>
                        <li><a href="{{ url_for('add_track') }}">Submit a Song!</a></li>
                        <li><a href="{{ url_for('about') }}">Who We Are</a></li>
                        <li><a href="{{ url_for('stats') }}">Database Stats</a></li>
                    </ul>
                    
                    <ul class="side-nav" id="mobile-demo">
                        <li id="nav-close"><a><i class="material-icons">close</i></a></li>
                        <li><a href="{{ url_for('sort_tracks_upvote_desc', decade_filter = 'all') }}">Charts</a></li>
                        <li><a href="{{ url_for('add_track') }}">Submit a Song!</a></li>
                        <li><a href="{{ url_for('about') }}">Who We Are</a></li>
                        <li><a href="{{ url_for('stats') }}">Database Stats</a></li>
                    </ul>
                    <!-- /Nav Links -->
                </div>
                <!-- /Nav Wrapper -->
            </nav>
        </header>
        
        {% block content %}
        {% endblock %}
        
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text"><a href="{{ url_for('index') }}">DESERTISLAND</a></h5>
                        <p class="grey-text text-lighten-4">The World's Favorite Songs, Voted By You</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="{{ url_for('sort_tracks_upvote_desc', decade_filter = 'all') }}">Charts</a></li>
                            <li><a class="grey-text text-lighten-3" href="{{ url_for('add_track') }}">Add a Track</a></li>
                            <li><a class="grey-text text-lighten-3" href="{{ url_for('about') }}">About Us</a></li>
                            <li><a class="grey-text text-lighten-3" href="{{ url_for('stats') }}">Database Stats</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    &#169;<span id="copyright"></span> Chris Hengmith
                </div>
            </div>
        </footer>
        
        <!-- Scripts -->
        <!-- jQuery -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
        <!-- Materialize -->
        <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
        <!-- jQuery -->
        <script>
            $(document).ready(function(){
                /* Accordion */
                $('.collapsible').collapsible();
                
                /* Mobile Nav Button */
                $(".button-collapse").sideNav();
                
                /* Materialize Select */
                $('select').material_select();
                
                /* Nav Close */
                $('#nav-close').click(function() {
                    /* Use sideNav method provided by Materialize */
                    $('.button-collapse').sideNav('hide');
                })
            });
        </script>
        
        <!-- Block Scripts-->
        <!-- Some scripts are not needed on all pages. To improve load times these scripts are added via block when needed -->
        
        <!-- Decade Link Script -->
        {% block decade_link_js %}
        {% endblock %}
        
        <!-- Genre Link Script. This turns the final option in the genre dropdowns on the add-track and edit-track forms into a link to add-genre.html -->
        {% block genre_link_js %}
        {% endblock %}
        
        <!-- Form Validation -->
        {% block form_validation_js %}
        {% endblock %}
        
        <!-- Parallax Effect -->
        {% block parallax %}
        {% endblock %}
        
        {% block youtube_lazy_loading %}
        {% endblock %}
        <!-- /Block Scripts -->
        
        <!-- Get the current year to be used for the copyright date in the footer -->
        <script>
            var theDate = new Date().getFullYear();
            document.getElementById("copyright").innerHTML = theDate;
        </script>
        <!-- /Scripts -->
    </body>
</html>