<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <!-- Materialize css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">   
    </head>
    
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ url_for('get_tracks') }}" class="brand-logo">DESERTISLAND</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('get_tracks') }}">All Tracks</a></li>
                        <li><a href="{{ url_for('add_track') }}">Add a Track!</a></li>
                    </ul>
                </div>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{ url_for('get_tracks') }}">All Tracks</a></li>
                    <li><a href="{{ url_for('add_track') }}">Add a Track!</a></li>
                </ul>
            </nav>
        </header>
        
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
        
        <!-- Scripts -->
        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Materialize -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Accordion jQuery -->
        <script>
            $(document).ready(function(){
                $('.collapsible').collapsible();
            });
        </script>
        <!-- Parallax -->
        <script>
            $(document).ready(function() {
              $('.parallax').parallax();
            });
        </script>
        <!-- /Scripts -->
    </body>
</html>