{% extends 'base.html' %}

{% block content %}
    <h1 class="center-align">Confirm Deletion</h1>
    
    <main class="container">
        <div class="center-align row">
            <div class="col s12">
                <p>Are you sure you want to delete <strong>{{ track.artist }} - {{ track.track_title }}</strong>? This action can not be undone.</p>
            </div>
            
            <!-- Cancel Delete Button -->
            <div class="col s12 m4 offset-m2">
                <a href="{{url_for('get_tracks', decade_filter = decade_filter, sorting_order = sorting_order)}}" class="waves-effect waves-light btn btn_small blue edit-delete-btn">No, cancel</a>
            </div>
            <!-- /Cancel Delete Button -->

            <!-- Confirm Delete Button -->
            <div class="col s12 m4 center-align">
                <a href="{{url_for('confirm_delete_track', decade_filter = decade_filter, sorting_order = sorting_order, track_id = track._id)}}" class="waves-effect waves-light btn btn_small red edit-delete-btn">Yes, delete</a>
            </div>
            <!-- /Confirm Delete Button -->
        </div>
    </main>
{% endblock %}