{% extends 'base.html' %} 

{% block content %}

<h3>Edit Track</h3>

<div class="row">
    <!-- The task _id field is passed along into the update_task function -->
    <form action="{{ url_for('insert_edited_track', track_id=track._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">assignment</i>
                <input id="track_title" name="track_title" type="text" class="validate" value="{{ track.track_title }}">
                <label for="track_title">Track Title</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">brush</i>
                <input id="artist" name="artist" type="text" class="validate" value="{{ track.artist }}">
                <label for="artist">Artist</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">music_video</i>
                <input id="youtube_link" name="youtube_link" type="text" class="validate" value="{{ track.youtube_link }}">
                <label for="youtube_link">YouTube Link</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">calendar_today</i>
                <input id="year" name="year" type="text" class="validate" value="{{ track.year }}">
                <label for="icon_prefix">Year</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">category</i>
                <input id="genre" name="genre" type="text" class="validate" value="{{ track.genre }}">
                <label for="icon_prefix">Genre</label>
            </div>
            
            
            
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Edit Track
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}