{% extends 'base.html' %} 

{% block content %}
    <h1 class="center-align">Edit Track</h1>
    
    <main class="container">
        <!-- Form -->
        <form action="{{ url_for('insert_edited_track', decade_filter = decade_filter, sorting_order = sorting_order, track_id = track._id) }}" method="POST" class="col s12" novalidate>
            <div class="row">
                <!-- Track Title -->
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">assignment</i>
                    
                    <input id="track_title" name="track_title" type="text" class="validate" value="{{ track.track_title }}" required maxlength="500">
                    
                    <label id="track_title_label" for="track_title" data-error="Please enter the name of the track" data-success="&#10004;">Track Title</label>
                </div>
                <!-- /Track Title -->
                
                <!-- Artist -->
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">brush</i>
                    
                    <input id="artist" name="artist" type="text" class="validate" value="{{ track.artist }}" required maxlength="100">
                    
                    <label id="artist_label" for="artist" data-error="Please enter the name of the artist of the track" data-success="&#10004;">Artist</label>
                </div>
                <!-- /Artist -->
            </div>
            
            <div class="row">
                <!-- YouTube Link -->
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">music_video</i>
                    
                    <input id="youtube_link" name="youtube_link" type="text" class="validate" value="{{ track.youtube_link }}" required maxlength="45">
                    
                    <label id="youtube_link_label" for="youtube_link" data-error="Please enter the url of a YouTube video for the track" data-success="&#10004;">YouTube Link</label>
                </div>
                <!-- /YouTube Link -->
                
                <!-- Year Released --> 
                <div class="input-field col s12 l6">
                    <i class="material-icons prefix">calendar_today</i>
                    
                    <input id="year" name="year" type="text" class="validate" value="{{ track.year }}" required pattern="[0-9][0-9][0-9][0-9]" maxlength="4">
                    
                    <label id="year_label" for="year" data-error="Please enter the year the track was first released in the format YYYY (e.g. 1976)" data-success="&#10004;">Year Released</label>
                </div>
                <!-- /Year Released -->
            </div>
            
            <!-- Genre -->
            <div class="row">
                <div class="input-field col s12">
                    <!-- Icon -->
                    <i class="material-icons prefix">category</i>
                    <!-- /Icon -->
                    
                    <!-- No validation is necessary for the genre select box on the edit form since it is impossible to submit no value;
                        there is automatically a value populating the select box
                        However, the script in formValidation.js will still provide visual feedback with a green underline if the select box is changed -->
                    <!-- Label -->
                    <label id="genre_label" for="genre">Genre</label>
                    <!-- /Label -->
                    
                    <!-- Genre Select -->
                    <select id="genre" name="genre">
                        <!-- If the user has just inserted a genre -->
                        {% if inserted_genre %}
                            <!-- This disabled option serves as a clue as to what the user should do when the dropdown is open -->
                            <option value="" disabled>Please select:</option>
                        
                            {% for genre in genres %}
                                <!-- If the genre being iterated over matches the genre the user just inserted -->
                                {% if genre.genre == inserted_genre %}
                                    <!-- Set that genre as selected -->
                                    <option value="{{ genre.genre }}" selected>{{ genre.genre }}</option>
                                    
                                {% else %}
                                    <!-- Else render the other genres without the selected option -->
                                    <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                                {% endif %}
                            {% endfor %}
                        
                        <!-- Else the user hasn't just inserted a genre and is coming to edit-track from elsewhere -->
                        {% else %}
                            {% for genre in genres %}
                                <!-- On the Edit Track page the user wants to see the current genre for the track as the default value -->
                                {% if genre.genre == track.genre %}
                                    <option value="{{ genre.genre }}" selected>{{ genre.genre }}</option>
                                    
                                {% else %} <!-- Else render the other genres without the selected option -->
                                    <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        
                        <!-- Give the user the option to add another Genre -->
                        <option value="add-genre-link">Add a Genre</option>
                    </select>
                    <!-- /Genre Select -->
                </div>
            </div>
            <!-- /Genre -->
                
            <!-- Track Description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">description</i>
                    
                    <textarea id="description" name="description" class="validate materialize-textarea" value="{{ track.description }}" required maxlength="1000">{{ track.description }}</textarea>
                    
                    <label id="description_label" for="description" data-error="Please enter why you love this track!" data-success="&#10004;">And why does this song deserve to be here? (max 1,000 characters)</label>
                </div>
            </div>
            <!-- /Track Description -->
            
            <!-- Button Container -->
            <div class="row btn-container center-align">
                <!-- Submit Button -->
                <div class="col s12 l6">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Edit Track
                        <i class="material-icons right">send</i>
                    </button>                    
                </div>
                <!-- /Submit Button -->
                
                <!-- Cancel Button -->
                <div class="col s12 l6">
                    <a href="{{ url_for('get_tracks', decade_filter = decade_filter, sorting_order = sorting_order) }}">
                        <button class="btn waves-effect waves-light cancel-insert-btn" type="button">
                            Cancel Edit
                            <i class="material-icons right">close</i>
                        </button>
                    </a>
                </div>
                <!-- /Cancel Button -->
            </div>
            <!-- /Button Container -->
        </form>
        <!-- /Form -->
    </main>
{% endblock %}

<!-- Genre Link Script -->
{% block genre_link_js %}
    <script>
        // Listen for a change on the Genre select box
        $('#genre').change(function() {
            // Grab the current value of the select box
            var selectVal = $('select').val()
            console.log(selectVal)
            // If the select box's value is equal to 'add-genre-link'...
            if (selectVal == 'add-genre-link') {
                // Redirect the user to add-genre.html
                window.location.href = "{{ url_for('add_genre', track_id = track._id) }}";
            }
        });
    </script>
{% endblock %}
<!-- /Genre Link Script -->

<!-- Form Validation Script -->
{% block form_validation_js %}
    <script src="{{ url_for('static', filename='js/formValidation.js') }}"></script>
{% endblock %}
<!-- /Form Validation Script