{% extends 'base.html' %}

{% block content %}
    <main>
        <h1 class="sr-only">Home</h1>
        <div class="parallax-container">
            <div class="parallax"><img src="static/images/index_1.jpg"></div>
            <p class="center-align">The World's Favorite Songs, Voted By You</p>
        </div>
        <div class="container">
            <div class="dummy-content">
                <h2 class="center-align">Current Top 3 Tracks</h2>
                <div class="center-align">
                    {% for track in tracks %}
                        <!-- Limit the return tracks to 3.
                             Since the list has already been sorted by upvotes descending in app.py the returned tracks will be the 3 highest upvoted tracks 
                        -->
                        {% if loop.index <= 3 %}
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ track.youtube_link|replace('https://www.youtube.com/watch?v=', '') }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="static/images/index_2.jpg"></div>
        </div>
    </main>
{% endblock %}