{% extends 'base.html' %}

{% block content %}
    <main>
        <!-- Page Heading -->
        <h1 class="sr-only">Home</h1>
        <!-- /Page Heading -->
        
        <!-- Top Parallax Image -->
        <div class="parallax-container">
            <div class="parallax"><img src="{{ url_for('static', filename='images/index_1.jpg') }}"></div>
            <p class="center-align">The World's Favorite Songs, Voted By You</p>
        </div>
        <!-- /Top Parallax Image -->
        
        <div class="divider"></div>
        
        <!-- Current Top 3 Tracks Section -->
        <ssection class="container">
            <div class="center-align">
                <h2>Current Top 3 Tracks</h2>
                
                <div>
                    {% for track in tracks %}
                        <!-- Limit the returned tracks to 3.
                             Since the list has already been sorted by upvotes descending in app.py 
                             the returned tracks will be the 3 highest upvoted tracks 
                        -->
                        {% if loop.index <= 3 %}
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ track.youtube_link|replace('https://www.youtube.com/watch?v=', '') }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <!-- View More Link -->
                <a href="{{ url_for('sort_tracks_upvote_desc', decade_filter = 'all') }}">View More</a>
                <!-- /View More Link -->
            </div>
        </div>
        <!-- /Current Top 3 Tracks Section -->
        
        <!-- Bottom Parallax Image -->
        <div class="parallax-container">
            <div class="parallax"><img src="{{ url_for('static', filename='images/index_2.jpg') }}"></div>
            <p class="center-align">Have Your Say</p>
        </div>
        <!-- /Bottom Parallax Image -->
        
        <div class="divider"></div>
    </main>
{% endblock %}

<!-- Parallax Effect -->
{% block parallax %}
    <script>
        /* Parallax Effect */
        $(document).ready(function() {
            $('.parallax').parallax();  
        })
    </script>
{% endblock %}