{% extends 'base.html' %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="center-align">DesertIsland - Stats</h1>
    <!-- /Page Heading -->
    
    <main class="container stats-container center-align">
        <!-- Total Number of Tracks Uploaded -->
        <div class="row">
            <strong>{{ tracks_count }}</strong>
            
            <p>Total number of tracks uploaded</p>
        </div>
        <!-- /Total Number of Tracks Uploaded -->
        
        <div class="divider"></div>
        
        <!-- Most Frequent Decade -->
        <div class="row">
            <strong>{{ most_pop_decade }}</strong>
            
            <p>Decade with the most tracks uploaded</p>     
        </div>
        <!-- /Most Frequent Decade -->
        
        <div class="divider"></div>
        
        <!-- Most Frequent Artist -->
        <div class="row">
            <strong>{{ most_freq_artist }}</strong>
            
            <p>Artist with the most uploaded tracks</p> 
        </div>
        <!-- /Most Frequent Artist -->
        
        <div class="divider"></div>
        
        <!-- Most Frequent User -->
        <div class="row">
            <strong>{{ most_freq_user }}</strong>
            
            <p>User who has made the most submissions</p>
        </div>
        <!-- /Most Frequent User -->
        
        <div class="divider"></div>
        
        <!-- Most Frequent Genre -->
        <div class="row">
            <strong>{{ most_freq_genre }}</strong>
            
            <p>Genre with the most tracks</p>     
        </div>
        <!-- Most Frequent Genre -->
        
        <div class="divider"></div>
        
        <!-- Total Likes -->
        <div class="row">
            <strong>{{ all_upvotes }}</strong>
            
            <p>Total number of Likes for all tracks</p>
        </div>
        <!-- /Total Likes -->
        
        <div class="divider"></div>
        
        <!-- Most Liked Artist -->
        <div class="row">
            <strong>{{ most_pop_artist._id }} with {{ most_pop_artist.upvotes }} Likes</strong>
            
            <p>Most Liked artist</p>
        </div>
        <!-- /Most Liked Artist -->
    </main>
{% endblock %}