{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <p>Number of tracks in database: {{ tracks_count }}</p>
        <p>Decade with the most tracks uploaded: {{ most_pop_decade }}</p>
        <p>Artist with the most uploaded tracks: {{ most_freq_artist }}</p>
        <p>User who has made the most submissions: {{ most_freq_user }}</p>
        <p>Genre with the most tracks: {{ most_freq_genre }}</p>
        <p>Total number of Likes for all tracks: {{ all_upvotes }}</p>
        <p>Most Liked Artist: {{ most_pop_artist._id }} with {{ most_pop_artist.upvotes }} Likes</p>
    </main>
{% endblock %}