{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <a class="col s3" href="{{ url_for('sort_tracks_upvote_desc') }}">Sort by Most Popular</a>
        <a class="col s3" href="{{ url_for('sort_tracks_date_added_desc') }}">Sort by Date Added (Newest)</a>
    </div>
    <!-- Accordion Container -->
    <ul class="collapsible">
        {% for track in tracks %} <!-- For each track in the database -->
        <li>
            <!-- Accordion Header -->
            <div class="collapsible-header">
                <!-- Artist - Title -->
                <i class="material-icons">arrow_drop_down</i>
                {{ track.artist }} - {{ track.track_title }}
                <!-- /Artist - Title -->
                <!-- Upvote Button -->
                <form action="{{ url_for('upvote_track', track_id=track._id) }}" method="POST">
                    <button type="submit">
                        <i class="material-icons">arrow_upward</i>
                    </button>
                    {{ track.upvotes }}
                </form>
                <!-- /Upvote Button -->
                {{ track.date_added }}
            </div>
            <!-- /Accordion Header -->
            <!-- Accordion Body -->
            <div class="collapsible-body">
                <span>Released in {{ track.year }}</span>
                <p>{{ track.genre }}</p>
            </div>
            <!-- /Accordion Body -->
            <!-- YouTube Video -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ track.youtube_link|replace('https://www.youtube.com/watch?v=', '') }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- /YouTube Video -->
        </li>
        {% endfor %}
    </ul>
    <!-- /Accordion Container -->

{% endblock %}