{% extends 'base.html' %}

{% block content %}
    <main class="container">
        <!-- Sort and Filter -->
        <div class="row sort-filter-container">
            <!-- Decade Filter -->
            <div class="col s12 filter-container">
                <label for="decade-options-select">Filter tracks by decade</label>
                
                <select id="decade-options-select" name="decade-options-select">
                    <option value="all">Show All</option>
                    <option value="pre1950">Pre-1950</option>
                    <option value="1950s">1950-1959</option>
                    <option value="1960s">1960-1969</option>
                    <option value="1970s">1970-1979</option>
                    <option value="1980s">1980-1989</option>
                    <option value="1990s">1990-1999</option>
                    <option value="2000s">2000-2009</option>
                    <option value="2010s">2010-2019</option>
                </select>     
            </div>
            <!-- /Decade Filter -->
            
            <!-- Sort Dropdown -->
            <div class="col s12 sort-container">
                <span>SORT | </span>
                
                <!-- Dropdown Trigger -->
                <a class='dropdown-button' href='#' data-activates='sort-dropdown'>
                    <span class="sort-text"></span>
                    <i class="material-icons">arrow_drop_down</i>
                </a>
                <!-- /Dropdown Trigger -->
            
                <!-- Dropdown Content -->
                <ul id='sort-dropdown' class='dropdown-content'>
                    <li><a href="{{ url_for('sort_tracks_upvote_desc', decade_filter = decade_filter) }}">Most Popular</a></li>
                    <li><a href="{{ url_for('sort_tracks_date_added_desc', decade_filter = decade_filter) }}">Date Added (Newest)</a></li>
                    <li><a href="{{ url_for('sort_tracks_upvote_asc', decade_filter = decade_filter) }}">Least Popular</a></li>
                    <li><a href="{{ url_for('sort_tracks_date_added_asc', decade_filter = decade_filter) }}">Date Added (Oldest)</a></li>
                </ul>
                <!-- /Dropdown Content -->
            </div>
            <!-- /Sort Dropdown -->
        </div>
        <!-- /Sort and Filter -->
        
        <!-- Track Container -->
        <section class="track-container flow-text">
            {% for track in tracks %} <!-- For each track in the database -->
                <li>
                    <!-- Rank. Artist - Title
                        Rank is determined by adding the current pagination value to the loop index -->
                    <span class="rank-number">{{ loop.index + pagination }}. </span><span>{{ track.artist }} - {{ track.track_title }}</span>
                    <!-- /Rank. Artist - Title -->
                    
                    <form action="{{ url_for('upvote_track', decade_filter = decade_filter, sorting_order = sorting_order, track_id = track._id) }}" method="POST">
                        <!-- Upvote Button -->
                        <button class="btn upvote-button" type="submit">
                            <i class="material-icons">arrow_upward</i>
                        </button>
                        <!-- /Upvote Button -->
                        
                        <!-- Upvote Count -->
                        <span>{{ track.upvotes }}</span>
                        <!-- /Upvote Count -->
                    </form>
                    
                    <!-- Date Added Text -->
                    <span>{{ track.date_added }}</span>
                    <!-- /Date Added Text -->
                    
                    <!-- Edit Button -->
                    <a href="{{url_for('edit_track', decade_filter = decade_filter, sorting_order = sorting_order, track_id = track._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    <!-- /Edit Button -->
                    
                    <!-- Delete Button -->
                    <a href="{{url_for('delete_track', decade_filter = decade_filter, sorting_order = sorting_order, track_id=track._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>
                    <!-- /Delete Button -->
                    
                    <!-- Submitted By <User> -->
                    <span>Submitted by {{ track.user_name }}</span>
                    <!-- /Submitted By <User> -->
                    
                    <!-- YouTube Video -->
                    <!-- (1) video wrapper -->
                    <div class="youtube" data-embed="{{ track.youtube_link|replace('https://www.youtube.com/watch?v=', '') }}"> 
                     
                        <!-- (2) the "play" button -->
                        <div class="play-button"></div> 
                         
                    </div>
                    <!-- /YouTube Video -->
                    
                    <!-- "Released In" Text -->
                    <span>Released in {{ track.year }}</span>
                    <!-- /"Released In" Text -->
                    
                    <!-- Genre -->
                    <p>{{ track.genre }}</p>
                    <!-- /Genre -->
                    
                    <!-- Truncated Desciption -->
                    <span>User {{ track.user_name }} says: {{ track.description|truncate(60) }}</span> 
                    
                    <span>
                        <a href="{{ url_for('track_detail', decade_filter = decade_filter, sorting_order = sorting_order, track_id = track._id) }}">see more.</a>
                    </span>
                    <!-- /Truncated Desciption -->
                </li>
            {% endfor %}
        </section>
        <!-- /Track Container -->
        
        <!-- Previous arrow -->
        {% if pagination %}
            <a href="{{ url_for('prev_tracks', decade_filter = decade_filter, sorting_order = sorting_order) }}">Previous</a>
        {% endif %}
        <!-- Next arrow -->
        {% if pagination < tracks_count - 5 %}
            <a href="{{ url_for('next_tracks', decade_filter = decade_filter, sorting_order = sorting_order) }}">Next</a>
        {% endif %}
        
        <!-- Remember to delete these??? -->
        {{ pagination }}
        {{ tracks_col_count }}
        {{ rankings }}
    </main>
{% endblock %}

<!-- Decade Link Script -->
{% block decade_link_js %}
    <script>
        // Listen for a change on the Genre select box
        $('#decade-options-select').change(function() {
            // Grab the current value of the select box
            var selectVal = $('#decade-options-select').val()
            console.log(selectVal)
            // If the select box's value is equal to 'add-genre-link'...
            
            //Use one line, just pass in selectVal
            switch (selectVal) {
                case 'pre1950':
                    window.location.href = "{{ url_for('get_tracks', sorting_order = sorting_order, decade_filter = 'pre1950' ) }}";
                    break;
            
                case '1950s':
                    window.location.href = "{{ url_for('get_tracks', sorting_order = sorting_order, decade_filter = '1950s' ) }}";
                    break;
            
                case '1960s':
                    window.location.href = "{{ url_for('get_tracks', sorting_order = sorting_order, decade_filter = '1960s' ) }}";
                    break;
            
                case '1970s':
                    window.location.href = "{{ url_for('get_tracks', sorting_order = sorting_order, decade_filter = '1970s' ) }}";
                    break;
                    
                case '1980s':
                    window.location.href = "{{ url_for('get_tracks', sorting_order = sorting_order, decade_filter = '1980s' ) }}";
                    break;
                    
                case '1990s':
                    window.location.href = "{{ url_for('get_tracks', sorting_order = sorting_order, decade_filter = '1990s' ) }}";
                    break;
                    
                case '2000s':
                    window.location.href = "{{ url_for('get_tracks', sorting_order = sorting_order, decade_filter = '2000s' ) }}";
                    break;
                    
                case '2010s':
                    window.location.href = "{{ url_for('get_tracks', sorting_order = sorting_order, decade_filter = '2010s' ) }}";
                    break;
                    
                default:
                    window.location.href = "{{ url_for('get_tracks', sorting_order = sorting_order, decade_filter = 'all' ) }}";
                    break;
            }
        });
        // This functionality would be easier with a click event
        // Unfortunately however, Chrome doesn't work with click events on select options
    </script>
    
        {% if decade_filter == 'pre1950' %}
            <script>
                $(document).ready(function() {
                    $("#decade-options-select option[value='pre1950']").prop("selected",true);
                    $('#decade-options-select').material_select();
                });
            </script>
        {% elif decade_filter == '1950s' %}
            <script>
                $(document).ready(function() {
                    $("#decade-options-select option[value='pre1950']").prop("selected",true);
                    $('#decade-options-select').material_select();
                });
            </script>
        {% elif decade_filter == '1960s' %}
            <script>
                $(document).ready(function() {
                    $("#decade-options-select option[value='1960s']").prop("selected",true);
                    $('#decade-options-select').material_select();
                });
            </script>
        {% elif decade_filter == '1970s' %}
            <script>
                $(document).ready(function() {
                    $("#decade-options-select option[value='1970s']").prop("selected",true);
                    $('#decade-options-select').material_select();
                });
            </script>
        {% elif decade_filter == '1980s' %}
            <script>
                $(document).ready(function() {
                    $("#decade-options-select option[value='1980s']").prop("selected",true);
                    $('#decade-options-select').material_select();
                });
            </script>
        {% elif decade_filter == '1990s' %}
            <script>
                $(document).ready(function() {
                    $("#decade-options-select option[value='1990s']").prop("selected",true);
                    $('#decade-options-select').material_select();
                });
            </script>
        {% elif decade_filter == '2000s' %}
            <script>
                $(document).ready(function() {
                    $("#decade-options-select option[value='2000s']").prop("selected",true);
                    $('#decade-options-select').material_select();
                });
            </script>
        {% elif decade_filter == '2010s' %}
            <script>
                $(document).ready(function() {
                    $("#decade-options-select option[value='2010s']").prop("selected",true);
                    $('#decade-options-select').material_select();
                });
            </script>
        {% else %}
            <script>
                $(document).ready(function() {
                    $("#decade-options-select option[value='all']").prop("selected",true);
                    $('#decade-options-select').material_select();
                });
            </script>
        {% endif %}

{% endblock %}

{% block youtube_lazy_loading %}
    <script>
        //Select the div elements that will wrap the embedded video
        var youtube = document.querySelectorAll( ".youtube" );
        //Since I have 5 Youtube videos per page, iterate through each of the selected elements
        for (var i = 0; i < youtube.length; i++) {
            // thumbnail image source.
            var source = "https://img.youtube.com/vi/"+ youtube[i].dataset.embed +"/mqdefault.jpg"; 
            
            // Load the image asynchronously
            var image = new Image();
                image.src = source;
                image.addEventListener( "load", function() {
                    youtube[ i ].appendChild( image );
                }( i ) );
                        
            youtube[i].addEventListener( "click", function() {
         
                var iframe = document.createElement( "iframe" );
         
                    iframe.setAttribute( "frameborder", "0" );
                    iframe.setAttribute( "allowfullscreen", "" );
                    iframe.setAttribute( "src", "https://www.youtube.com/embed/"+ this.dataset.embed +"?rel=0&showinfo=0&autoplay=1" );
         
                    this.innerHTML = "";
                    this.appendChild( iframe );
            } );
        }
    </script>
{% endblock %}

{% block sorting_order_text_js %}
    <script>
        // Would of preferred switch statment here but for some reason that didn't work
        if ('{{ sorting_order }}' == 1) {
            $('.dropdown-button span').text("Most Popular");
        } else if ('{{ sorting_order }}' == 2) {
            $('.dropdown-button span').text("Least Popular");
        } else if ('{{ sorting_order }}' == 3) {
            $('.dropdown-button span').text("Date Added (Newest)");
        } else if ('{{ sorting_order }}' == 4) {
            $('.dropdown-button span').text("Date Added (Oldest)");
        }
    </script>
{% endblock %}