{% extends 'base.html' %}

{% block content %}
<main class="container">
    <h1 class="center-align">{{ track.artist }} - {{ track.track_title }}</h1>
    
    <div class="row">
        <div class="col s12 xl6">
            <p class="reset-margin-top">{{ track.description }}</p>
            
            <div class="container sub-container">
                <div class="row">
                    <div class="col s6">
                        <p>{{ track.year }}</p>
                    </div>
                    
                    <div class="col s6">
                        <!-- Upvote Button Form -->
                        <form action="{{ url_for('upvote_track', decade_filter = decade_filter, sorting_order = sorting_order, track_id = track._id) }}" method="POST">
                            <!-- Upvote Button -->
                            <button class="btn upvote-button" type="submit" title="Upvote">
                                <i class="material-icons">arrow_upward</i>
                            </button>
                            <!-- /Upvote Button -->
                            
                            <!-- Upvote Count -->
                            <span>{{ track.upvotes }}</span>
                            <!-- /Upvote Count -->
                        </form>
                        <!-- /Upvote Button Form -->
                    </div>
                </div>
                
                <div class="row">
                    <div class="col s12">
                        <p>{{ track.genre }}</p>
                    </div>
                </div>
                <div class="six6 row">
                    <div class="col s12">
                        <p>{{ track.user_name }}</p>
                    </div>
                </div>
                <div class="seven7 row">
                    <div class="col s12">
                        <p>{{ track.date_added }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 xl6 td-youtube-iframe-container">
            <iframe src="https://www.youtube.com/embed/{{ track.youtube_link|replace('https://www.youtube.com/watch?v=', '') }}" 
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>
    <!--<div class="row">-->
    <!--    <div class="three3 col m5"></div>-->
    <!--    <div class="four4 col m2"></div>-->
    <!--</div>-->
    <!--<div class="five5 row"></div>-->
    <!--<div class="six6 row"></div>-->
    <!--<div class="seven7 row"></div>-->
</main>
{% endblock %}