{% extends 'base.html' %}

{% block content %}
    <!-- Artist - Title -->
    <h1 class="center-align">{{ track.artist }} - {{ track.track_title }}</h1>
    <!-- /Artist - Title -->
    
    <main class="container">
        <div class="row flow-text">
            <div class="col s12 xl6">
                <!-- Track Description -->
                <p class="reset-margin-top">{{ track.description }}</p>
                <!-- /Track Description -->
                
                <div class="container sub-container">
                    <div class="row">
                        <!-- Year Released -->
                        <div class="col s6">
                            <small>Released: {{ track.year }}</small>
                        </div>
                        <!-- /Year Released -->
                        
                        <div class="col s6 center-align">
                            <!-- Upvote Button Form -->
                            <form action="{{ url_for('upvote_track', decade_filter = decade_filter, sorting_order = sorting_order, track_id = track._id, track_detail = True) }}" method="POST">
                                <!-- Upvote Button -->
                                <button class="btn upvote-button" type="submit" title="Upvote">
                                    <i class="material-icons">arrow_upward</i>
                                </button>
                                <!-- /Upvote Button -->
                                
                                <!-- Upvote Count -->
                                <span>{{ track.upvotes }}</span>
                                <!-- /Upvote Count -->
                            </form>
                            <!-- /Upvote Button Form -->
                        </div>
                    </div>
                    
                    <!-- Genre -->
                    <div class="row">
                        <div class="col s12">
                            <small>Genre: {{ track.genre }}</small>
                        </div>
                    </div>
                    <!-- /Genre -->
                    
                    <!-- User Name -->
                    <div class="row">
                        <div class="col s12">
                            <small>Submitted By: {{ track.user_name }}</small>
                        </div>
                    </div>
                    <!-- /User Name -->
                    
                    <!-- Date Added -->
                    <div class="row">
                        <div class="col s12">
                            <small>Date Added: {{ track.date_added }}</small>
                        </div>
                    </div>
                    <!-- /Date Added -->
                </div>
            </div>
            
            <!-- YouTube Video -->
            <div class="col s12 xl6 td-youtube-iframe-container">
                <iframe src="https://www.youtube.com/embed/{{ track.youtube_link|replace('https://www.youtube.com/watch?v=', '') }}" 
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <!-- /YouTube Video -->
        </div>
        
        <div class="row center-align">
            <!-- Edit Button -->
            <div class="col s6 xl3">
                <a href="{{url_for('edit_track', decade_filter = decade_filter, sorting_order = sorting_order, track_id = track._id)}}" class="waves-effect waves-light btn btn_small blue edit-delete-btn">Edit</a>
            </div>
            <!-- /Edit Button -->
    
            <!-- Delete Button -->
            <div class="col s6 xl3">
                <a href="{{url_for('delete_track', decade_filter = decade_filter, sorting_order = sorting_order, track_id=track._id)}}" class="waves-effect waves-light btn btn_small red edit-delete-btn">Delete</a>
            </div>
            <!-- /Delete Button -->
        </div>
    </main>
{% endblock %}